<nav class="panel panel-default">
        <div class="panel-body">
                <a  href="{{site.baseurl}}/">
                    更多博文
                </a>
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <div class="card card-body">
                            <h4>
                                Title
                            </h4>
                            <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, 
                                    maxime. Facilis consequuntur animi vitae optio, autem quibusdam 
                                    incidunt dolore vero nesciunt. Perspiciatis, voluptates dolorum? 
                                    Cupiditate sed voluptates suscipit dolorum praesentium. <a href="#">阅读全文</a>
                            </p>
                            
                            
                            
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="card card-body">
                            <h4>Title</h4>
                        
                            <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, 
                                    maxime. Facilis consequuntur animi vitae optio, autem quibusdam 
                                    incidunt dolore vero nesciunt. Perspiciatis, voluptates dolorum? 
                                    Cupiditate sed voluptates suscipit dolorum praesentium. <a href="#">阅读全文</span></a>
                            </p>
                            
                        </div>
                    </div>
                </div>
        </div>
        
</nav>
